<template>
  <v-container>
    <v-form v-model="valid" ref="form" lazy-validation>
      <v-card>
        <v-card-title>Login</v-card-title>
        <v-card-text>

          <v-text-field
              v-model="email"
              :rules="[rules.required, rules.email, rules.min]"
              label="E-mail"
          ></v-text-field>

          <v-text-field
              v-model="password"
              :rules="[rules.required, rules.min]"
              :type="'password'"
              label="Password"
          ></v-text-field>

        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="login">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
export default {
  name: "auth-login",
  data() {
    return {
      valid: false,
      email: "",
      password: "",
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
    };
  },
  methods: {
    login() {
      this.$refs.form.validate();
      this.$log.debug(this.valid);
      // this.$store.dispatch('auth/login', {email: this.email, password: this.password}).then(() => {
      //   this.$router.push('/')
      // })
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
  },
};
</script>