<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>{{ teamName }}</v-card-title>
          <v-card-content>
            <v-row>
              <v-col>
                % People Available
              </v-col>
              <v-col>
                <v-progress-linear :model-value="randomTwoDigit()"></v-progress-linear>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                % People Off Due To Holiday
              </v-col>
              <v-col>
                <v-progress-linear :model-value="randomTwoDigit()"></v-progress-linear>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                % People Off Due To Illness
              </v-col>
              <v-col>
                <v-progress-linear :model-value="randomTwoDigit()"></v-progress-linear>
              </v-col>
            </v-row>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-right">
        <v-btn color="primary" icon="mdi-cog" size="small" @click="$router.push({name: 'team-settings', params: {id: teamId }})"></v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Team Members</v-card-title>
          <v-table>
            <thead>
            <tr>
              <th class="text-left">
                Name
              </th>
              <th class="text-right">
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="person in people"
                :key="person.name"
            >
              <td>{{ person.name }}</td>
              <td class="text-right">
                <v-icon>mdi-edit</v-icon>
              </td>
            </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-right">
        <v-btn color="primary" icon="mdi-plus" size="small"></v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { faker } from '@faker-js/faker'

export default {
  name: "team-detail",
  data() {
    return {
      teamName: faker.name.jobArea(),
      teamId:this.$route.params.id,
      people: [
        {name: faker.name.firstName() + ' ' + faker.name.lastName()},
        {name: faker.name.firstName() + ' ' + faker.name.lastName()},
        {name: faker.name.firstName() + ' ' + faker.name.lastName()},
        {name: faker.name.firstName() + ' ' + faker.name.lastName()},
        {name: faker.name.firstName() + ' ' + faker.name.lastName()},
      ]
    }
  },
  methods: {
    randomTwoDigit() {
      return faker.random.numeric(2)
    }
  }
}
</script>