<template>
  <v-app>
    <v-app-bar app color="primary">
      <v-toolbar-title style="cursor: pointer" @click="$router.push({name: 'dashboard'})">
        {{ title }}
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn v-if="isLoggedIn">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>

    <v-card height="150" dark>
      <v-footer absolute class="font-weight-medium">
        <v-col class="text-center" cols="12">
          {{ new Date().getFullYear() }} —
          <strong>People Protect</strong>
        </v-col>
      </v-footer>
    </v-card>
  </v-app>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
    };
  },
  computed: {
    title() {
      return this.$store.getters['app/title']
    },
    isLoggedIn() {
      return this.$store.getters['auth/isLoggedIn']
    }
  },
  methods: {
    logout() {
      // this.$store.dispatch("auth/logout");
      // this.$router.push({ name: "auth-login" });
    },
  },
};
</script>
