<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>{{ organisationName }}</v-card-title>
          <v-card-content>
            <v-row>
              <v-col>
                % Sessions In Progress (last 30 days)
              </v-col>
              <v-col>
                <v-progress-linear model-value="67"></v-progress-linear>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                % Sessions In Panic (last 30 days)
              </v-col>
              <v-col>
                <v-progress-linear model-value="2"></v-progress-linear>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                % Appointments Missed (last 30 days)
              </v-col>
              <v-col>
                <v-progress-linear model-value="4"></v-progress-linear>
              </v-col>
            </v-row>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-right">
        <v-btn color="primary" icon="mdi-cog" size="small"></v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-table>
            <thead>
            <tr>
              <th class="text-left">
                Name
              </th>
              <th class="text-right">
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="team in teams"
                :key="team.id"
            >
              <td>
                <router-link :to="{name: 'team-detail', params: {id: team.id }}">
                  {{ team.name }}
                </router-link>
              </td>
              <td class="text-right">
                <v-icon>mdi-delete</v-icon>
              </td>
            </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { faker } from '@faker-js/faker'
export default {
  name: "team-list",
  data() {
    return {
      organisationName: faker.company.companyName(),
      teams: [
        {name: faker.name.jobArea(), id: 1},
        {name: faker.name.jobArea(), id: 2},
        {name: faker.name.jobArea(), id: 3},
        {name: faker.name.jobArea(), id: 4},
        {name: faker.name.jobArea(), id: 5},
      ]
    }
  },
}
</script>