<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-form>
          <v-card>
            <v-card-title>{{ team.name }} - Settings</v-card-title>
            <v-card-content>
              <v-row>
                <v-col cols="10">
                  Enable Team
                </v-col>
                <v-col cols="2">
                  <v-switch
                      v-model="team.enabled"
                      color="success"
                  ></v-switch>
                </v-col>
              </v-row>
            </v-card-content>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-form>
          <v-card>
            <v-card-title>Enable Features</v-card-title>
            <v-card-content>
              <v-row v-for="feature in team.features" v-bind:key="feature.name">
                <v-col cols="10" v-text="feature.label"></v-col>
                <v-col cols="2">
                  <v-switch
                      v-model="feature.value"
                      color="success"
                  ></v-switch>
                </v-col>
              </v-row>
            </v-card-content>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {faker} from '@faker-js/faker'

export default {
  name: "team-settings",
  data() {
    return {
      team: {
        name: faker.name.jobArea(),
        enabled: Math.random() < 0.5,
        features: [
          { name: 'timetracking', label: 'Time Tracking', value: Math.random() < 0.5 },
          { name: 'appointments', label: 'Appointments', value: Math.random() < 0.5 },
          { name: 'rosters', label: 'Rosters', value: Math.random() < 0.5 },
          { name: 'finance', label: 'Finance', value: Math.random() < 0.5 },
        ]
      }
    }
  },
  methods: {}
}
</script>