<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Dashboard</v-card-title>
          <v-card-text>
            <em><b>Stats Overview</b></em><br/>
            <em>todo</em>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <OrganisationList></OrganisationList>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import OrganisationList from '@/views/Organisation/OrganisationList'

export default {
  name: "dashboard",
  components: {
    OrganisationList
  },
}
</script>
