<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Dashboard</v-card-title>
          <v-card-content>
            Yo
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Pages</v-card-title>
          <v-card-content>
            <v-list>
              <v-list-item>
                <router-link :to="{name: 'auth-login'}">Login</router-link>
              </v-list-item>
              <v-list-item>
                <router-link :to="{name: 'team-list'}">Teams</router-link>
              </v-list-item>
              <v-list-item>
                <router-link :to="{name: 'appointment-create'}">Appointment - Create</router-link>
              </v-list-item>
            </v-list>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "dashboard",
  data() {
    return {}
  },
}
</script>