<template>
  <v-card>
    <div class="d-flex align-center justify-space-between">
      <v-card-title>
        Organisations
      </v-card-title>
      <span class="mr-2">
        <v-btn class="mr-2" color="primary">
          <v-icon>mdi-plus</v-icon>
          Add Organisation
        </v-btn>
        <v-btn color="success">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </span>
    </div>
    <v-card-text>
      <p v-if="!organisations.length">No organisations found</p>
      <v-table v-else>
        <thead>
        <tr>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
            Administrators
          </th>
          <th class="text-left">
            Team Administrators
          </th>
          <th class="text-left">
            Reporters
          </th>
          <th class="text-left">
            Lone Workers
          </th>
          <th class="text-right">
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </v-table>
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  name: "organisation-list",
  data() {
    return {}
  },
  computed: {
    organisations() {
      return this.$store.getters['organisations/organisations']
    },
  }
}
</script>
