<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Create an appointment</v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-content>
            <v-row>
              <v-col>
                <v-text-field label="Name"></v-text-field>
              </v-col>
            </v-row>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Address</v-card-title>
          <v-card-content>
            <v-row>
              <v-col>
                <v-row>
                  <v-col>
                    <v-combobox label="Address"></v-combobox>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field label="House No."></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Street Name"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field label="Town / City"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="County"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Country"></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="Postcode"></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Date</v-card-title>
          <v-card-content>
            <v-row>
              <v-col>
                <v-text-field label="Start"></v-text-field>
              </v-col>
              <v-col>
                <v-text-field label="End"></v-text-field>
              </v-col>
            </v-row>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Assignment</v-card-title>
          <v-card-content>
            <v-row>
              <v-col>
                <v-select label="Team" :items="[1,2,3,4,5,6,7,8,9,10]"></v-select>
              </v-col>
              <v-col>
                <v-select label="Person" :items="[1,2,3,4,5,6,7,8,9,10]"></v-select>
              </v-col>
              <v-col>
                <v-select label="People Required" :items="[1,2,3,4,5,6,7,8,9,10]"></v-select>
              </v-col>
            </v-row>
          </v-card-content>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="warning">Cancel</v-btn>
            <v-btn color="success">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import { faker } from '@faker-js/faker'
export default {
  name: "appointment-create",
  data() {
    return {}
  },
  methods: {}
}
</script>